{% extends "includes/base-dash.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if error %}
<h4 class="text-center">{{ error }}</h4>
{% endif %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Withdrawal</h2>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-8">
        <div class="card border-0 shadow">
            <div class="card-body">
                <form method="post">
                {% csrf_token %}
                    <div class="mb-4">
                        <label class="my-1 me-2" for="type">Card</label>
                        <select class="form-select" name="card_id" id="country" aria-label="Default select example" required>
                            <!-- <option selected>Select Card</option> -->
                            {% for card in cards %}
                            <option value={{ card.id }}>{{ card }} >>> {{ card.account.balance }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="email">Enter Amount</label>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Amount" name="amount" autofocus required>
                        </div>  
                    </div>
                    <div class="form-group mb-4">
                        <label for="email">Card Pin</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="4 digit pin" name="pin" autofocus required>
                        </div>  
                    </div>
                    <input type="text" hidden name="withdraw_next">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-gray-800">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <h4>Camera</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
